In [1]:
import yfinance as yf
import backtrader as bt

In [2]:
data = yf.download("SPY", start="1993-01-01", end="2005-12-31")

[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY,SPY
Date,,,,,,
1993-01-29 00:00:00+00:00,24.608625,43.93750,43.96875,43.75000,43.96875,1003200
1993-02-01 00:00:00+00:00,24.783638,44.25000,44.25000,43.96875,43.96875,480500
1993-02-02 00:00:00+00:00,24.836155,44.34375,44.37500,44.12500,44.21875,201300
1993-02-03 00:00:00+00:00,25.098705,44.81250,44.84375,44.37500,44.40625,529400
1993-02-04 00:00:00+00:00,25.203712,45.00000,45.09375,44.46875,44.96875,531500

In [4]:
data = data[['Open', 'High', 'Low', 'Adj Close', 'Volume']]

In [5]:
data.head()

Price                          Open      High       Low  Adj Close   Volume
Ticker                          SPY       SPY       SPY        SPY      SPY
Date
1993-01-29 00:00:00+00:00  43.96875  43.96875  43.75000  24.608625  1003200
1993-02-01 00:00:00+00:00  43.96875  44.25000  43.96875  24.783638   480500
1993-02-02 00:00:00+00:00  44.21875  44.37500  44.12500  24.836155   201300
1993-02-03 00:00:00+00:00  44.40625  44.84375  44.37500  25.098705   529400
1993-02-04 00:00:00+00:00  44.96875  45.09375  44.46875  25.203712   531500

In [6]:
data.reset_index(inplace=True)

In [7]:
data.head()

Price,Date,Open,High,Low,Adj Close,Volume
Ticker,,SPY,SPY,SPY,SPY,SPY
0,1993-01-29 00:00:00+00:00,43.96875,43.96875,43.75000,24.608625,1003200
1,1993-02-01 00:00:00+00:00,43.96875,44.25000,43.96875,24.783638,480500
2,1993-02-02 00:00:00+00:00,44.21875,44.37500,44.12500,24.836155,201300
3,1993-02-03 00:00:00+00:00,44.40625,44.84375,44.37500,25.098705,529400
4,1993-02-04 00:00:00+00:00,44.96875,45.09375,44.46875,25.203712,531500

In [8]:
parsed_data = bt.feeds.PandasData(
    dataname=data,
    datetime='Date',  # Name of the Date column
    open='Open',      # Name of the Open column
    high='High',      # Name of the High column
    low='Low',        # Name of the Low column
    close='Adj Close',# Name of the Adjusted Close column
    volume='Volume',  # Name of the Volume column
    openinterest=-1)

In [9]:
cerebro = bt.Cerebro()
cerebro.broker.set_cash(10000)

In [10]:
cerebro.adddata(parsed_data)

In [11]:
cerebro.run()

/Users/tireniadekoya/.local/share/virtualenvs/ai-trader-RA5L2dJ3/lib/python3.13/site-packages/backtrader/cerebro.py:670: SyntaxWarning: invalid escape sequence '\*'
  '''Adds a callback to get messages which would be handled by the
/Users/tireniadekoya/.local/share/virtualenvs/ai-trader-RA5L2dJ3/lib/python3.13/site-packages/backtrader/cerebro.py:712: SyntaxWarning: invalid escape sequence '\*'
  '''Adds a callback to get messages which would be handled by the

AttributeError: 'tuple' object has no attribute 'lower'